# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Gradio Cache
.gradio/
*/.gradio/

# Python Virtual Environment
visri_env/

# macOS Junk
.DS_Store

# Python Cache
__pycache__/
*.pyc

# Notebook Data & Old Iterations
notebooks/cache/
